<!-- <mat-grid-list cols="10" rowHeight="100px">

    <mat-grid-tile *ngFor="let user of users">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="user.name" readonly>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let user of users">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="user.username" readonly>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let user of users">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="user.email">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let user of users">
        <mat-form-field>
            <mat-label>Street</mat-label>
            <input matInput [(ngModel)]="user.address.street">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let user of users">
        <mat-form-field>
            <mat-label>Suite</mat-label>
            <input matInput [(ngModel)]="user.address.suite">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let user of users">
        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="user.address.city">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let user of users">
        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput [(ngModel)]="user.phone">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let user of users">
        <mat-form-field>
            <mat-label>Website</mat-label>
            <input matInput [(ngModel)]="user.website">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let user of users">
        <button mat-button color="accent">Update</button>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let user of users">
        <button mat-button color="primary" (click)="getPosts(user.id)">Get user's posts</button>

    </mat-grid-tile>
    <div *ngFor="let user of users">
        <mat-grid-tile>
            <div *ngFor="let post of posts">
                <mat-form-field>
                    <mat-label>{{post.title}}</mat-label>
                    <input matInput [(ngModel)]="post.body">
                </mat-form-field>
            </div>
        </mat-grid-tile>
    </div>


</mat-grid-list> -->
<div *ngIf="!isReady" class="wrapper">
    <mat-spinner   style="margin:0 auto;z-index: 1000;" 
  ></mat-spinner>
  </div>
<mat-grid-list cols="10" rowHeight="100px">

    <div *ngFor="let user of users">

        <app-user [user]="user"></app-user>
    </div>
</mat-grid-list>
